/* font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* utilities */
*{
    font-family: 'Inter', sans-serif;
}

/* category btn */
.btnFocused:focus{
    background-color: #FF1F3D;
    color: #fff;
}